# Editor-specific
.idea
*.sublime-project
*.sublime-workspace
.settings

# Installed libs
node_modules

# Generated
lib/
dist/
scripts/generated-api.md

# Misc
ignore
npm-debug.log
ts/*
!ts/cycle.d.ts
