# Editor-specific
.idea
*.sublime-project
*.sublime-workspace
.settings

# Installed libs
node_modules
typings/

# Generated
test/browser/page/tests-bundle.js
lib/
dist/
test-support-server.pid

# Misc
ignore
npm-debug.log
ts/*
!ts/cycle.d.ts
