# Editor-specific
.idea
*.sublime-project
*.sublime-workspace
.settings
.alm

# Installed libs
node_modules/
typings/

# Generated
test/browser/page/tests-bundle.js
lib/
dist/

# Misc
ignore
npm-debug.log
ts/*
!ts/cycle.d.ts
.DS_Store
